@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Medium.ttf');
    font-weight: medium;
}

/*
    navbar
*/
.searchbar__input {
    padding: 0.2em 1em;
    width: 300px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

/* 
    overall styles
*/



* {
    font-family: "Gilroy";
    font-size: 14px;
}

.header-one {
    font-size: 3em;
    font-weight: bold;
    font-family: gopher, sans-serif;
    text-align: center;
}

.header-two {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Gilroy", sans-serif;
}

.subtitle-big {
    font-size: 1.2em;
    font-weight: 300;
    font-family: "Gilroy", sans-serif;
    margin-top: -1em;
}

.body--startpage {
    background-color: #FAF6EE;
    height: 100%;
    overflow: hidden;
}

/* 
    form/login styles
*/

.form {
    background-color: #FAF6EE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form__title {
    margin-bottom: 32px;
    font-family: "Gilroy";
    font-size: 32px;
    font-weight: bold;
}

.form__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form__input {
    border: #D0D5DD solid 0.1px;
    border-radius: 6px;
    padding: 0 0.6em;
    max-width: 320px;
    height: 40px;
}

.form__input:focus {
    outline: none;
    border: #EB5B29 solid 0.1px;
}

.form__text {
    margin-bottom: 6px;
    color: #344054;
}

.form__link {
    color: #EB5B29;
    text-decoration: none;
    margin-top: 12px;
}

.form__span {
    margin-top: 12px;
}

.btn {
    background-color: #430BC8;
    border: none;
    border-radius: 6px;
    color: #FAFAFA;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 320px;
    height: 40px;
}

/*
    forgot password
*/
.alert-message {
    background-color: #B7D9E8;
    border: none;
    border-radius: 6px;
    color: white;
    max-width: 250px;
    padding: 12px 34px;
    font-weight: bold;
}

/*
    signup styles
*/

.container__block {
    background-color: white;
    padding: 32px;
    margin: 32px 24px;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(6px 6px 4px #4b4b4b15);
}

.list {
    padding: 0 1em;
    margin-bottom: 32px;
}

.list__item {
    padding: 0.5em 0;
}

.btn-register {
    display: flex;
    width: 80vw;
    height: 34px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn__block {
    display: flex;
    justify-content: center;
}

/*
    competentions styles
*/

.container__comp {
    width: 320px;
    margin: 0 auto;
    position: relative;
    transform: translateY(40%);
}

.block {
    margin-top: 24px;
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    cursor: pointer;
}

.block__link {
    text-decoration: none;
    color: black;
}

.block__img {
    width: 10px;
    height: 14px;
    float: right;
}

/*
    competention filters
*/

.container__comp__filters {
    width: 450px;
    transform: translateY(50%);
}

.filter {
    margin: 24px 24px 0 0;
    background-color: #B7D9E8;
    padding: .6em 1em;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

.filter button {
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.filter:active {
    background-color: #EB5B29 !important;
}


/*
    homepage
*/

.container--feed {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.filters {
    max-width: 250px;
    max-height: 300px;
    background-color: #FAFAFA;
    padding: 3em 1em;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 6px #34343415);
}

.projects__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.projects__box {
    display: flex;
    flex-direction: column;
}

.project__box__li {
    list-style: none;
}

.project__box {
    margin-bottom: 58px;
}

.project__box__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
}

.project__box__item {
    background-color: #FAFAFA;
    padding: 1.5em;
    width: 1000px;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 6px #34343415);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project__tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.tags__tag {
    padding: 0.3em 2em;
    background-color: #B7D9E8;
    border-radius: 6px;
    margin: 0 0.3em;
}

.project__info {
    display: flex;
    align-items: center;
}

.project__info__link {
    text-decoration: none;
    color: black;
    padding-right: 6px;
}

.project__info__img {
    width: 16px;
    height: 16px;

}

/*
    chat page
*/
.container--messages {
    display: grid;
    grid-template-columns: 25vw 1fr;
}

.chat__groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}

.messages__groups {
    background-color: #FAF6EE;
    height: 100vh;
}

.messages__chat__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 12px;
}

.chat__info__img {
    width: 16px;
    height: 16px;
    transform: scaleX(-1);
}

.messages__chat__search {
    width: 20vw;
    padding: 0.5em;
    border: 1px solid #3b3c3d;
    border-radius: 6px;
    background-color: #FAF6EE;
    color: #667085;
    justify-content: center;
    margin-left: 24px;
    margin-bottom: 24px;
}

.messages__chat__groups {
    margin-left: 24px;
}

.messages__chat__groups h2 {
    font-size: 18px;
}

.chat__groups__text {
    margin-left: 12px;
}

.chat__groups__text h3 {
    margin: 0;
    padding: 0.1em;
    font-size: 18px;

}

.chat__groups__text p {
    margin: 0;
    padding: 0.1em;
    color: #686868;
    font-weight: regular;

}

.messages__chat__emptystate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30vh;
}

.chat__emptystate__img {
    width: 120px;
    height: 140px;
    display: flex;
}

/*
    media queries
*/

@media (min-width: 1020px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container__block {
        height: 280px;
        width: 420px;
    }
}