@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Medium.ttf');
    font-weight: medium;
}

/*
variables
*/

:root {
    --primary: #430BC8;
    --secondary: #B7D9E8;
    --accent: #EB5B29;
    --neutral: #fffcf5;
    --offblack: #0E0E14;
    --offwhite: #FAF6EE;
    --white: #ffffff;
    --gray: #8d8d8d;
}

/*
    navbar
*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 3.5em;
}

.nav__logo {
    height: 56px;
}

.nav__logo a img {
    height: 100%;
}

.searchbar__input {
    padding: 0.2em 1em;
    width: 42em;
    height: 32px;
    border-radius: 8px;
    border: 1px solid var(--gray);
}

.searchbar__submit {
    display: none;
}

.nav__links__container {
    display: flex;
    justify-content: space-between;
    width: 290px;
    text-align: center;
}

.nav__links a {
    text-decoration: none;
    color: var(--offblack);
    font-weight: 500;
}

.nav__links {
    transition: all .1s ease-in;
}

.nav__links:hover {
    background-color: var(--secondary);
    box-shadow: 0 0 0 10px var(--secondary);
    border-radius: 4px;
}

.nav__links__text {
    display: block;
}

/* 
    overall styles
*/

body {
    margin: 0;
    /* background-color: var(--neutral); */
}

* {
    font-family: "Gilroy";
    font-size: 14px;
    box-sizing: border-box;
}

.header-one {
    font-size: 3em;
    font-weight: bold;
    font-family: gopher, sans-serif;
    text-align: center;
}

.header-two,
h2 {
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Gilroy", sans-serif;
}

h3 {
    font-size: 1.4em;
    font-weight: 500;
    font-family: "Gilroy", sans-serif;
    margin: 0 0 .6em;
}

.subtitle-big {
    font-size: 1.2em;
    font-weight: 300;
    font-family: "Gilroy", sans-serif;
    margin-top: -1em;
}

p {
    font-size: 1.1em;
    font-weight: 500;
}

.body--startpage {
    background-color: var(--offwhite);
    height: 100%;
    /* overflow: hidden; */
}

/* 
    form/login styles
*/

.container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container--flex {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 50%;
    margin-right: 4em;
}

.form__title {
    margin-bottom: 32px;
    font-family: "Gilroy";
    font-size: 32px;
    font-weight: bold;
}

.form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.forgot__password {
    margin-top: .4em;
}

.form__input {
    border: #D0D5DD solid 0.1px;
    border-radius: 6px;
    padding: 0 0.6em;
    max-width: 100%;
    height: 40px;
}

.form__input:focus {
    outline: none;
    border: var(--accent) solid 0.1px;
}

.form__input__reg {
    width: 60%;
}

.description {
    height: 100px;
}

.description:focus {
    outline: none;
    border: var(--accent) solid 0.1px;
}

.form__text {
    margin-bottom: 6px;
    color: var(--offblack);
    width: 40%;
}

.form__link {
    color: var(--accent);
    text-decoration: none;
    margin-top: 12px;
    transition: all .2s;
}

.form__link:hover {
    text-decoration: underline;
}

.form__span {
    margin-top: 12px;
}

.btn {
    background-color: var(--primary);
    border: none;
    border-radius: 6px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 320px;
    height: 40px;
    transition: all .2s;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--offblack);
}

/*
    forgot password
*/
.alert-message {
    background-color: var(--secondary);
    border: none;
    border-radius: 6px;
    color: var(--white);
    max-width: 250px;
    padding: 12px 34px;
    font-weight: bold;
}

/*
    signup styles
*/

.container__block {
    background-color: var(--white);
    padding: 32px;
    margin: 32px 24px;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(6px 6px 4px #4b4b4b15);
}

.list {
    padding: 0 1em;
    margin-bottom: 32px;
}

.list__item {
    padding: 0.5em 0;
}

.btn-register {
    display: flex;
    width: 340px;
    height: 34px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn__block {
    display: flex;
    justify-content: center;
}

/*
    competentions styles
*/

.container__comp {
    max-width: 320px;
}

.block {
    margin-top: 24px;
    background-color: var(--white);
    padding: 1em;
    border-radius: 6px;
    cursor: pointer;
}

.block__link {
    text-decoration: none;
    color: var(--offblack);
}

.block__img {
    width: 10px;
    height: 14px;
    float: right;
}

.block__text {
    padding-right: 2em;
}

/*
    competention filters
*/

.container__comp__filters {
    max-width: 450px;
}

.filter {
    margin: 24px 24px 0 0;
    background-color: var(--secondary);
    padding: .6em 1em;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

.filter button {
    border: none;
    color: var(--offblack);
    background-color: transparent;
    cursor: pointer;
}

.filter:active {
    background-color: var(--accent) !important;
}


/*
    dashboard
*/

.container--feed {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3em auto 0;
}

.filters {
    width: 20%;
    max-height: 480px;
    background-color: var(--white);
    padding: calc(32px - 0.83em) 32px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
}

.filter__container {
    margin-top: 8px;
}

.filters label {
    font-size: 1em;
}

.filters__language {
    margin: 32px 0;
}

.filters__skills {
    margin: 32px 0;
}

.btn--extra {
    border: none;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.1s ease-in;
}

.btn--extra:hover {
    color: var(--offblack);
}

.project__title {
    text-decoration: none;
    color: var(--offblack);
}

.project__text {
    width: 700px;
}

.projects {
    width: 75%;
}

.projects h1 {
    font-size: 32px;
}

.projects__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
}

.projects__box {
    display: flex;
    flex-direction: column;
}

.project__box__li {
    list-style: none;
    padding: 0;
}

.project__box {
    margin-bottom: 58px;
}

.project__box__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
}

.project__box__item {
    background-color: var(--white);
    padding: 1.5em;
    width: 100%;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project__tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.tags__tag {
    padding: 0.3em 2em;
    background-color: var(--primary);
    border-radius: 6px;
    margin: 0 0.3em;
    color: var(--offwhite);
}

.project__info {
    display: flex;
    align-items: center;
}

.project__info__link {
    text-decoration: none;
    color: var(--offblack);
    border-bottom: 1px solid transparent;
    transition: all .2s;
}

.project__info__link:hover {
    border-color: var(--accent);
}

.project__info__img {
    width: 16px;
    height: 16px;
    padding-left: 6px;
}

.projects__newProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*
    chat page
*/
.messages__chat__info a {
    margin-top: 4px;
}

.messages__chat__info h2 {
    margin-left: 12px;
}

.container--messages {
    display: grid;
    grid-template-columns: 25vw 1fr;
}

.chat__groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}

.messages__groups {
    background-color: var(--offwhite);
    height: 100vh;
}

.messages__chat__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 12px;
}

.chat__info__img {
    width: 16px;
    height: 16px;
    transform: scaleX(-1);
}

.messages__chat__search {
    width: 20vw;
    padding: 0.5em;
    border: 1px solid #3b3c3d;
    border-radius: 6px;
    background-color: var(--offwhite);
    color: #667085;
    justify-content: center;
    margin-left: 24px;
    margin-bottom: 24px;
}

.messages__chat__groups {
    margin-left: 24px;
}

.messages__chat__groups h2 {
    font-size: 18px;
}

.chat__groups__text {
    margin-left: 12px;
}

.chat__groups__text h3 {
    margin: 0;
    padding: 0.1em;
    font-size: 18px;

}

.chat__groups__text p {
    margin: 0;
    padding: 0.1em;
    color: #686868;
    font-weight: regular;

}

.messages__chat__emptystate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30vh;
}

.chat__emptystate__img {
    width: 120px;
    height: 140px;
    display: flex;
}

/* 
    individual project
*/
.return__btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    color: var(--offblack);
}

.return__btn h3 {
    margin: 0 0 0 12px;
}

.project__info__expanded {
    width: 65%;
}

.project__sidebar {
    width: 25%;
}

.about__org {
    margin-bottom: 32px;
}

.btn__container {
    display: flex;
    margin-top: 4em;
}

.btn__variant {
    background-color: transparent;
    border: 1px solid var(--offblack);
    color: var(--offblack);
    margin-right: 2em;
}

.learning__goals {
    margin-bottom: 32px;
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
    padding: 32px;
    border-radius: 8px;
}

.learning__goals ul {
    padding-left: 16px;
}

.learning__goals ul li {
    margin-bottom: 12px;
}

.members {
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
    padding: 32px;
    border-radius: 8px;
}

.members ul {
    padding-left: 0;
}

.members ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.members__img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 16px;
}

.btn--subscribed {
    opacity: 0.5;
    pointer-events: none;
}

/* 
    confirmation page
*/
.btn__anchor {
    line-height: 36px;
    margin-top: 16px;
}

.messages__chat__emptystate p {
    max-width: 360px;
    text-align: center;
}

.confirmation__emptystate {
    margin-top: 16vh;
}

/* 
    my projects
*/

/* empty state */
.emptystate__plus {
    width: 36px;
    height: 36px;
    margin-bottom: 1em;
}

.emptystate__doc {
    width: 72px;
    height: 72px;
}

.emptystate__title {
    width: 280px;
    text-align: center;
    margin-bottom: 0;
}

.emptystate__text {
    text-align: center;
    width: 250px;
    font-weight: lighter;
    font-size: 14px;
}

.container--emptystate {
    /* display: block;
    margin: 4.5em 9em ; */
    display: grid;
    grid-template-columns: 30% 1fr;
    justify-items: center;
    align-items: center;

}

.project__box__emptystate {
    text-align: center;
    padding: 1em;
}

.project__card__emptystate {
    height: 220px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
    padding: 32px;
    border-radius: 8px;

}

.project__emptystate {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar__myprojects {
    width: 30%;
}

.project__card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 16px 40px rgba(75, 75, 75, 0.15);
    padding: 32px;
    border-radius: 8px;
    border: 3px solid var(--accent);
}

.project__box__profile h3 {
    margin: 0;
}

.overlapping__img {
    margin-right: -24px;
}

.projects__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.project__summary span {
    font-weight: 700;
}

.project__summary p {
    margin: 0 0 16px;
}

.finished__projects {
    margin-top: 56px;
}

.project__card__finished {
    filter: opacity(50%);
    border: none;
}

.project__details {
    width: 65%;
}

.project__details h1 {
    text-align: left;
}

.external__documents {
    margin-top: 32px;
}

.external__link {
    background-color: var(--gray);
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
}

.external__link p {
    display: inline;
}

.tasks {
    margin-top: 32px;
}

.tasks {
    margin-top: 32px;
}

.task__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    margin-bottom: 24px;
}

.tasks__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox__task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.checkbox__task p {
    margin-left: 12px;
}

.checkbox__task__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container--modal {
    display: none;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 400px;
    height: 280px;
    background-color: rgb(227, 227, 227);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal__task {
    width: 320px;
    margin-bottom: 1em;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 36px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* 
    Settings
*/
.settings__container {
    display: flex;
}

.sidebar__settings {
    width: 30%;
}

.sidebar__settings h1 {
    text-align: left;
    padding: 0 46px;
}

.settings__menu {
    background-color: var(--neutral);
    padding: 0 46px;
    height: 96%;
}

.settings__menu ul {
    padding: 56px 0;
    width: 100%;
}

.settings__menu ul li {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 32px;
}

.settings__menu ul li a {
    text-decoration: none;
    color: var(--offblack);
    width: 100%;
    font-size: 21px;
    transition: all .2s;
}

.settings__menu ul li a:hover {
    color: var(--accent);
}

.settings__menu ul img {
    width: 24px;
    height: 24px;
    float: right;
}

.logout {
    text-decoration: underline;
    color: var(--offblack);
}

.settings__active {
    max-width: 800px;
    margin: 28px auto 0;
}

.form__input__large {
    width: 100%;
}

.user__img {
    text-align: center;
    margin: 32px 0;
}

.user__img img {
    margin: 0 0 24px 0;
    text-align: center;
    width: 64px;
    height: 64px;
}

.upload__btn {
    border: none;
    background: none;
}

.upload__btn:hover {
    cursor: pointer;
    color: #EB5B29;
}

.upload__form {
    background-color: var(--offwhite);
    border: none;
    border-radius: 4px;
}

.upload__form__btn {
    border: none;
    border-radius: 4px;
    background-color: #430BC8;
    color: #fff;
    padding: 6px;
}


/*
    add post
*/
.add-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__input {
    padding: 0.2em 1em;
    width: 500px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid var(--gray);
    margin: 2em;
}

.project__input.desc {
    height: 100px;
}

.project__btn {
    background-color: var(--primary);
    border: none;
    border-radius: 6px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 320px;
    height: 40px;
}


/* 
    last adjustments
*/
.header-one--reg {
    margin-top: 1em;
}


/*
    media queries
*/

@media (min-width: 880px) {
    .container__block {
        width: 420px;
    }
}